#videos{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1rem;
  padding-top: 0.5rem;
}

.video-card{
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.video-card img{
  width: 100%;
  border-radius: 10px;
  object-fit: cover;
}

.video-card footer {
  display: grid;
  gap: 0.5rem;
  grid-template-columns: 3rem 1fr;
}

.video-card footer img {
  grid-column: 1/2;
}

.video-card-title,
.video-card-channel{
  grid-column: 2/3;
}